<view>
  <list>
    <view slot="header">
      Reqres Users
    </view>
    <scroll-view>
      <block a:for="{{items}}">
        <list-item
          thumb="{{item.avatar}}"
          arrow="{{false}}"
          index="{{index}}"
          key="user-{{item.id}}"
          last="{{index === (items.length - 1)}}"
        >
          <text>{{item.first_name}} {{item.last_name}}</text>
          <view slot="extra">
            {{item.email}}
          </view>
        </list-item>
      </block>
    </scroll-view>
    <view slot="footer">
      End of list
    </view>
  </list>
</view>