<view
  class="product-card"
  onTap="onTapCard"
  data-id="{{id}}"
>
  <view class="product-card__cover">
    <image src="{{imgSrc}}" mode="aspectFill" />
  </view>
  <view class="product-card__body">
    <view class="product-card__type">
      {{type}}
    </view>
    <view class="product-card__price">
      {{title}}
    </view>
    <view class="product-card__desc">
      {{desc}}
    </view>
  </view>
</view>