<!-- API-DEMO page/component/am-icon/am-icon.axml -->
<view>
  <view class="icon-title">Basics </view>
  <view class="icon-list">
    <block a:for="{{basicTypes}}">
      <view class="icon-item">
        <am-icon type="{{item}}" />
        <text class="icon-desc">{{item}}</text>
      </view>
    </block>
  </view>
  <view class="icon-title">Outline style</view>
  <view class="icon-list">
    <block a:for="{{strokeTypes}}">
      <view class="icon-item">
        <am-icon type="{{item}}" />
        <text class="icon-desc">{{item}}</text>
      </view>
    </block>
  </view>
  <view class="icon-title">Solid style</view>
  <view class="icon-list">
    <block a:for="{{solidTypes}}">
      <view class="icon-item">
        <am-icon type="{{item}}" type="warning" />
        <text class="icon-desc">{{item}}</text>
      </view>
    </block>
  </view>
</view>